{% extends "base.html.twig" %}

{% block title %}
	List |
	{{ parent() }}
{% endblock %}

{% block body %}
{% for message in app.flashes("success") %}
	<p>{{message}}</p>
{% endfor %}
	{% for note in notes %}
		<p>
			<b>Description:</b>
			{{note.description}}
		</p>

		<p>
			<b>Category:</b>
			{{note.idCategory.description}}</p>
		<p>
			<b>Date:</b>
			{{note.createdAt|date("d-m-Y")}}</p>
		<a href="{{path('app_detail',{slug:note.id})}}">Ver más</a>
		<a href="{{path('app_delete',{slug:note.id})}}">Delete</a>
		<a href="{{path("app_update",{slug:note.id})}}">Update</a>
	{% endfor %}
{% endblock %}
